<section class="about">

  <header class="page-header">
    <h1>Hi Jungle Explorers!</h1>
  </header>

  <p>Jungle is a plant store that specializes in tropical and rare house plants.</p><br>
  <p>Jungle began in Bali in 1999, with our founder falling in love with the lush forests of South East Asia. Since then, we have grown to 3 locations in BC.</p><br>
  <p>We carry hundreds of plants. Flowers, bushes and trees from places like China, Brazil or Australia... we have it all!<p><br>

  <p>Don't hesitate to contact us if you need help finding your new perfect house plant!<p><br><br>
  </div>

</section>