<section class="about">

  <div class="content">
    <header class="page-header">
      <h1>Hi Jungle Explorers!</h1>
    </header>
    <p>Jungle is a plant store that specializes in tropical and rare house plants.</p>
    <p>Jungle began in Bali in 1999, with our founder falling in love with the lush forests of South East Asia. Since then, we have grown to 3 locations in BC.</p>
    <p>We carry hundreds of plants. Flowers, bushes and trees from places like China, Brazil or Australia... we have it all!<p>
    <p>Do not hesitate to contact us if you need help finding your new perfect house plant!<p>
    <p>With gratitude,</br>The Team at Jungle</p>
  </div>

  <div>
    <img src="https://static.wixstatic.com/media/7cda53_a8db74d4572244ecacfb5cf67cc825f7~mv2.jpg/v1/fill/w_385,h_481,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/monstera%20plant%20gift.jpg">
  </div>

</section>